html {
  background-image: url("https://eus-www.sway-cdn.com/s/ltM3SCiOBnTEV8Jo/images/vSz8MHW1Ej3R6o?quality=1080&isThumbnail=True");
}
a {
  background-color: pink;
  height: 40px;
  text-align: center;
  padding: 16px 24px;
  text-decoration: none;
  border: 5px black;
  border-radius: 15px;
  color: black;
}
a:hover {
  background-color: red;
}